
.ipynb_checkpoints/Vocab Parsing-checkpoint.ipynb
.ipynb_checkpoints/Topik vocabulary crawl-checkpoint.ipynb
.ipynb_checkpoints/Korean parsing for language learning-checkpoint.ipynb
ko_full.tsv
memrise_raw_crawl/memrise2tts.py
memrise_raw_crawl/memrise.py
